#app .VPNavBar {
  // border-bottom: 1px solid var(--vp-c-divider-light);
}

#app .VPHomeHero {
  margin-top: 0px;
  margin-bottom: 32px;
  .main {
    margin-top: 80px;
  }
}
#app .VPNavBarTitle {
  .title {
    background: linear-gradient(120deg,#43bcff 30%, #bd34fe);
    -webkit-background-clip: text;
    color: transparent;
  }
}
.VPNavBarMenuLink.active {
  color: #b575e3 !important;
  font-weight: 600;
  height: 60px !important;
  border-bottom:2px solid #b575e3 !important;
}
.VPNavBarMenuLink:hover {
  color: #b575e3 !important;
}
#app .VPHomeHero{
  height:800px;
  background:url(../../../public/bg.jpg) center center fixed no-repeat;
  background-size: cover;
}
.VPHero.has-image .text {
  font-size: 40px !important;
}
.VPHero.has-image .tagline {
  color: #fff;
}
.VPHome {
  padding-bottom: 58px !important;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #bd34fe 30%,
      #43bcff);
}
:root {
  --vp-c-brand: #b575e3;
  --vp-c-brand-light: #c880f9;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #c880f9;
  --vp-c-brand-darker: #945fb9;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);

  --vp-nav-height-mobile: 56px;
  --vp-nav-height-desktop: 65px;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
}
:root {
  --vp-button-brand-border: var(--vp-c-brand);
  --vp-button-brand-bg: var(--vp-c-brand);
}
